:root {
    --gray: lightgray;
}

@font-face {
  font-family: "FiraGo";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/FiraGo-Regular.woff2") format("woff2"),
       url("/fonts/FiraGo-Regular.woff") format("woff");
}

@font-face {
  font-family: "FiraGo";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/FiraGo-Bold.woff2") format("woff2"),
       url("/fonts/FiraGo-Bold.woff") format("woff");
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "FiraGo", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

#container {
    max-width: 66rem;
    margin: 0 auto;
    padding: 4rem;
}

img.headshot {
    border-radius: 5px;
    border: 2px solid hsl(214, 6%, 54%);
    padding: 2px;
}

h1 {
    color: hsl(214, 17%, 32%);
    font-size: 1.5rem;
}

h2 {
    font-size: 0.9rem;
    color: hsl(218, 20%, 63%);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h3 {
    color: #4a5568;
}

time {
    color: hsl(216, 15%, 48%);
    font-size: 1.1rem;
}

.gray-400 {
    color: hsl(216, 15%, 48%);
}

.text-lg {
    font-size: 1.1rem;
}

.initials-container {
    background-color: hsl(214, 17%, 32%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

#container > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 2.75rem;
}

#container > header :last-child {
    margin-left: auto;
}

#container > header h1 {
    margin: 0;
}

#container > header .initials-container {
    margin-right: 1.25rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 1.125rem;
}

section h2 {
    margin-top: 0;
}

article header {
    margin-bottom: 0.56rem;
}

article h3 {
    margin-top: 0;
    margin-bottom: 0;
}

article p,
article li {
    color: #4a5568;
    margin: 0 0 1.125rem;
    line-height: 1.4;
    font-size: 1.1rem;
}

#container > header img.headshot {
    width: 4rem;
}

article > img.headshot {
    display: none;
    width: 10rem;
}

.experience li::marker {
    content: '\0203A'
}

ul.experience {
    padding: 0;
}

ul.experience li {
    padding-left: 0.35rem;
}

ul.skills {
    margin-top: 1rem;
    margin-left: 0;
    padding: 0;
    font-size: 1rem;
}
ul.skills li {
    display: inline-block;
    padding: 0 0.35rem;
    margin-right: 0.35rem;
    margin-bottom: 0.35rem;
    background-color: rgba(229, 231, 235);
}

ul.skills li::marker {
    content: '';
}

/* Columns */

@media (min-width: 768px) {
    #container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (min-width: 1024px) {
    #container {
        padding-left: 0rem;
        padding-right: 0rem;

    }

    /* main as flex requires the two column divs in the html */
    main.x {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    main.x {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-flow: row;
        /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
        /* grid-auto-flow: column; */
        gap: 2rem;
    }

    main.x {
        columns: 2 auto;
        gap: 2rem;
    }

    section {
        break-inside: avoid;;
    }

    #container > header img {
        display: none;
    }

    article > img.headshot {
        display: block;
    }
} 

main > div {
    flex: 1 1 0;
}