@font-face {
  font-family: "FiraGo";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/FiraGo-Regular.woff2") format("woff2"),
       url("/fonts/FiraGo-Regular.woff") format("woff");
}

@font-face {
  font-family: "FiraGo";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/FiraGo-Bold.woff2") format("woff2"),
       url("/fonts/FiraGo-Bold.woff") format("woff");
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "FiraGo", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

#container {
    max-width: 66rem;
    margin: 0 auto;
    padding: 4rem;
}

img.headshot {
    border-radius: 5px;
    border: 2px solid hsl(214, 6%, 54%);
    padding: 2px;
}

h1 {
    color: hsl(214, 17%, 32%);
    font-size: 1.5rem;
}

h2 {
    font-size: 0.9rem;
    color: hsl(218, 20%, 63%);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h3 {
    color: #4a5568;
}

time {
    color: hsl(216, 15%, 48%);
    font-size: 1.1rem;
}

.gray-400 {
    color: hsl(216, 15%, 48%);
}

.text-lg {
    font-size: 1.1rem;
}

.initials-container {
    background-color: hsl(214, 17%, 32%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

#container > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 2.75rem;
}

#container > header img {
    margin-left: auto;
    width: 4rem;
}

#container > header h1 {
    margin: 0;
}

#container > header .initials-container {
    margin-right: 1.25rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 1.125rem;
}

section h2 {
    margin-top: 0;
}

article header {
    margin-bottom: 0.56rem;
}

article h3 {
    margin-top: 0;
    margin-bottom: 0;
}

article p,
article .skills {
    color: #4a5568;
    margin: 0 0 1.125rem;
    line-height: 1.4;
    font-size: 1.1rem;
}

article ul.skills {
    margin-top: 1rem;
    margin-left: 0;
    padding: 0;
}
.skills li {
    display: inline;
    padding: 0.35rem;
    background-color: rgba(229, 231, 235);
}

.skills li::marker {
    content: '';
}